<section id="hood-content">
		<div>
			<img class="hood-image" src="/img/Campus_Martius/cm1.jpg">
			<article>
				<h2>Campus Martius</h2>
				<p>Campus Martius Park is a re-established park in Downtown Detroit. After the fire of 1805, Campus Martius was the focal point of Judge Augustus Woodward's plans to rebuild the city. (Wikipedia)</p>

				<div class="google-maps"></div>
			</article>
		</div>
</section>
<section id="hood-sub-content">
		<div>
			<h3>Landmarks</h3>
			<ul>
				<li><img src="/img/Campus_Martius/compuware1.jpg">Compuware</li>
				<li><img src="/img/Campus_Martius/cadillactower.jpg">Cadillac Tower</li>
				<li><img src="/img/Campus_Martius/hudsons.jpg">Hudson's</li>
			</ul>
		</div>
		<div>
			<h3>Hotels</h3>
			<ul>
				<li><img src="/img/Campus_Martius/bookcadillac.jpg">Westin Book Cadillac</li>
			</ul>
		</div>
		<div>
			<h3>Restaurants</h3>
			<ul>
				<li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Lafayette_And_American_Coney_Islands.JPG/303px-Lafayette_And_American_Coney_Islands.JPG">American/Lafayette Coney Island</li>
				<li><img src="img/Campus_Martius/hudsoncafe.jpg">The Hudson Cafe</li>
			</ul>
		</div>
</section>
