<section id="hood-content">
		<div>
			<img class="hood-image" src="/img/Campus_Martius/cm1.jpg">
			<article>
				<h2>Campus Martius</h2>
				<p>Campus Martius Park is a re-established park in Downtown Detroit. After the fire of 1805, Campus Martius was the focal point of Judge Augustus Woodward's plans to rebuild the city. (Wikipedia)</p>

				<div class="google-maps"></div>
			</article>
		</div>
</section>
<section id="hood-sub-content">
		<div>
			<h3>Landmarks</h3>
			<ul>
				<li>Cadillac Tower</li>
				<li>Hudson's</li>
				<li>Compuware</li>
			</ul>
		</div>
		<div>
			<h3>Hotels</h3>
			<ul>
				<li>Westin Book Cadillac</li>
			</ul>
		</div>
		<div>
			<h3>Restaurants</h3>
			<ul>
				<li>American Coney Island</li>
				<li>Lafayette Coney Island</li>
				<li>The Hudson Cafe</li>
			</ul>
		</div>
</section>
