<section id="hood-content">
		<div>
			<img class="hood-image" src="/img/Campus_Martius/cm1.jpg">
			<article>
				<h2>Campus Martius</h2>
				<p>Grand Circus Park is the centerpiece of Augustus Woodward's plan for the reconstruction of Detroit after the Fire of 1805. The half-circle park's perimeter features many important landmarks, including the Detroit Opera House and Comerica Park. (Wikipedia)</p>

				<div class="google-maps"></div>
			</article>
		</div>
</section>
<section id="hood-sub-content">
		<div>
			<h3>Landmarks</h3>
			<ul>
				<li>Morbi non justo a orci efficitur venenatis.</li>
				<li>Praesent aliquam nisi quis lacus aliquam facilisis.</li>
				<li>Cras quis ligula nec nibh ultrices ultrices.</li>
			</ul>
		</div>
		<div>
			<h3>Hotels</h3>
			<ul>
				<li>Morbi non justo a orci efficitur venenatis.</li>
				<li>Praesent aliquam nisi quis lacus aliquam facilisis.</li>
				<li>Cras quis ligula nec nibh ultrices ultrices.</li>
			</ul>
		</div>
		<div>
			<h3>Restaurants</h3>
			<ul>
				<li>Morbi non justo a orci efficitur venenatis.</li>
				<li>Praesent aliquam nisi quis lacus aliquam facilisis.</li>
				<li>Cras quis ligula nec nibh ultrices ultrices.</li>
			</ul>
		</div>
</section>
