<section id="hood-content">

		<div>
			<div class="hood-image"></div>
			<article>
				<h2>Grand Circus</h2>
				<p>Quisque aliquam lacus non velit varius, sit amet gravida lacus tincidunt. Suspendisse nisl mi, condimentum eu nibh et, scelerisque iaculis magna. Vestibulum eu aliquam tortor, sit amet egestas ligula.</p>

				<div class="google-maps"></div>
			</article>
		</div>

</section>
<section id="hood-sub-content">
		<div>
			<h3>Landmarks</h3>
			<ul>
				<li>Morbi non justo a orci efficitur venenatis.</li>
				<li>Praesent aliquam nisi quis lacus aliquam facilisis.</li>
				<li>Cras quis ligula nec nibh ultrices ultrices.</li>
			</ul>
		</div>
		<div>
			<h3>Hotels</h3>
			<ul>
				<li>Morbi non justo a orci efficitur venenatis.</li>
				<li>Praesent aliquam nisi quis lacus aliquam facilisis.</li>
				<li>Cras quis ligula nec nibh ultrices ultrices.</li>
			</ul>
		</div>
		<div>
			<h3>Restaurants</h3>
			<ul>
				<li>Morbi non justo a orci efficitur venenatis.</li>
				<li>Praesent aliquam nisi quis lacus aliquam facilisis.</li>
				<li>Cras quis ligula nec nibh ultrices ultrices.</li>
			</ul>
		</div>
</section>