
<section id="hood-content">

		<div>
			<img class="hood-image" src="/img/Greektown/gt1.jpg">
			<article>
				<h2>Greektown</h2>
				<p>Greektown is situated between the Renaissance Center, Comerica Park, and Ford Field. The district is dominated by Greek-themed restaurants and includes St. Mary Roman Catholic Church, Second Baptist Church, the Athenium Suite Hotel, and the Greektown Casino Hotel.(Wikipedia)</p>

				<div class="google-maps"></div>
				<!-- maps -->
				<div id="map"></div>

			</article>
		</div>

</section>
<section id="hood-sub-content">
		<div>
			<h3>Landmarks</h3>
			<ul>
				<li>Greektown Casino</li>
				<li>People Mover</li>
			</ul>
		</div>
		<div>
			<h3>Hotels</h3>
			<ul>
				<li>Atheneum Hotel</li>
			</ul>
		</div>
		<div>
			<h3>Restaurants</h3>
			<ul>
				<li>Niki's Pizza</li>
				<li>Fishbone's</li>
				<li>Astoria Pastry Shop</li>
			</ul>
		</div>
</section>

  