<section>
	<h2>Neighborhoods</h2>
	<p>Nullam maximus ante ut erat condimentum dictum. Nam elit mauris, fermentum et egestas vel.</p>
	<div id="neighborhoods">
		<div><a href="#/Grand_Circus">Grand Circus<img src="./img/1.jpg"></a></div>
		<div><a href="#/Campus_Martius">Campus Martius<img src="./img/2.jpg"></a></div>
		<div><a href="#/Greektown">Greektown<img src="./img/3.jpg"></a></div>
		<div><a href="#/Riverfront">Riverfront<img src="./img/4.jpg"></a></div>
		<div><a href="#/Grand_Circus">Grand Circus<img src="./img/1.jpg"></a></div>
		<div><a href="#/Campus_Martius">Campus Martius<img src="./img/2.jpg"></a></div>
		<div><a href="#/Greektown">Greektown<img src="./img/3.jpg"></a></div>
		<div><a href="#/Riverfront">Riverfront<img src="./img/4.jpg"></a></div>
	</div>
</section>