<section id="hood-content">

		<div>
			<img class="hood-image" src="/img/Riverfront/rf1.jpg">
			<article>
				<h2>Riverfront</h2>
				<p>The Detroit International Riverfront is a tourist attraction and landmark of Detroit, extending from the Ambassador Bridge in the west to Belle Isle in the east, for a total of 5½ miles. It encompasses a multitude of parks, restaurants, retail shops, skyscrapers, and high rise residential areas. (Wikipedia)
				<div class="google-maps"></div>
			</article>
		</div>

</section>
<section id="hood-sub-content">
		<div>
			<h3>Landmarks</h3>
			<ul>
				<li>Joe Louis Arena</li>
				<li>Cobo Hall</li>
				<li>Hart Plaza</li>
				<li>Renaissance Center</li>
			</ul>
		</div>
		<div>
			<h3>Hotels</h3>
			<ul>
				<li>Marriott at the Renaissance Center</li>
				<li>Courtyard by the Marriott</li>
			</ul>
		</div>
		<div>
			<h3>Restaurants</h3>
			<ul>
				<li>Coach Insignia</li>
				<li>Andiamo Detroit Riverfront</li>
				<li>Joe Muer Seafood</li>
			</ul>
		</div>
</section>