<section>
	<h2>Safety</h2>
	<p>Crime Prevention Tips:
 <li>Be Aware of Your Surroundings:

 
Be aware of what is going on around you and whether or not that activity is normal and expected for the setting. </li>
 
<li>Notice Other People:
 
Look at the people around you. Notice if they just glance at you (a normal reaction when making eye contact with a stranger) or if they are watching you. If you notice that they are paying more than momentary attention to you, that may be a red flag that you are about to be targeted.</li>
 
<li>Open Display of Valuables:
 
   The open display of valuables, including jewelry, cash, and/or high end electronics (including cell phones, iPads, iPhones, etc) in public places could be just the information a potential thief needs to target you as his next victim.</li>
 
<li>Trust Your Instincts:
 
   If someone makes you feel uneasy, trust your instincts and act accordingly. Whether indoors or out, change directions and proceed to areas where other people may be around.</li>
 
<li>Assess Your Own Vulnerability:
 
   Strangers aren't out to attack YOU. It is nothing personal, they are just looking for the easiest target of opportunity. Your goal, therefore, is to look like somebody who will be too much trouble to mess with. They also want to make you their victim without attracting attention from others. Make it a point, wherever you go, to stay in areas where other people are present. As soon as you enter an area where no one else is around, your guard and defenses should be on alert.</li>
 
<li>Attitude:
 
   Keep your head up. Look at your surroundings and be aware of them. Headphones may give the impression that you are less aware, as well as being completely engaged in a cell phone conversation. 
   To reduce your chances of becoming a robbery victim, we recommend you routinely walk in areas where you can see others and others can see you.
 
   Robbery perpetrators, like any other criminal, don't want to be caught "in the act" of robbing someone. They prefer areas where neither potential victims or witnesses will see them. By staying in populated areas, you increase your chances of never being selected for this type of crime.</li>
</p>
</section>

